/*  Variables  */
$default-bgcolor: #e0e0e0;
$default-color: #3f3f3f;
$default-highlight: #aeaeae;
$primary-color: #3d5afe;
$primary-highlight: #dce5fc;
$white: #ffffff;

@mixin border($color) {
  border: 1.5px solid $color;
}
/* Base button properties -- colors, spacing and typography */
button {
  padding: 0.5em 1em;
  margin: 1rem;
  border: none;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.14);
  border-radius: 0.4em;

}
/* Sizes - sm, md, lg */
.btn-small {
  font-size: 16px;
}
.btn-medium {
  font-size: 24px;
}
.btn-large {
  font-size: 32px;
}
/* Default Button and its variation*/
.default {
  background-color: $default-bgcolor;
  color: $default-color;
  // outline variation of the default color
  &.outline {
    background:none;
    color: $default-color;
    @include border($default-color);
    &:hover, &:focus {
      background-color: $default-highlight;
    }
  }
  // text variation of the default color
  &.text {
    border: none;
    color: $default-color;
    background: none;
    box-shadow: none;
    text-decoration: underline;
    &:hover, &:hover {
      background-color: $default-highlight;
    }

  }
  &:hover, &:focus {
    background-color: $default-highlight;
  }
}
/* Primary color  */
.primary {
  background-color: $primary-color;
  color: $white;
  &.outline {
    background: none;
    color: $primary-color;
    @include border($primary-color)
  }
  &.text {
    border: none;
    color: $primary-color;
    background: none;
    box-shadow: none;
    text-decoration: underline;
  }
}


/* Colors */

.secondary {
  background-color: #455a64;
  color: $white

}
.danger {
  background-color: #d32f2f;
  color: $white

}

/* shadow -- adding box-shadow to button */
.disableShadow {
  box-shadow: none;
}



/***
@extend: SASS feature that allows us to css properties as classes
that can be extended and inherited. Hence allowing us to reduce duplication

Use Case: The following classes have the same properties except for some minor differences. 
.breakfast { ... }
.lunch { ... }
.dinner { ... }

This can be written as 

.meal { ... }
.lunch {
  @extend .meal
  overwrite with addon properties
}
Now in the front end you may use ".lunch" instead of ".meal .lunch"


*/

