html {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.container {
  margin: 0.5rem;
  background: bisque;
  height: 100vh;
  display: block
}
@media only screen and (min-width: 992px) {
  .container {
    text-align: start;
    padding: 1rem;
  }
  .headers {
    width: 50%;
    border-bottom : 2px solid #333;
    margin: 1rem;
  }
  .buttons {
    position: relative;
    left: 17%;
    width: 65%;
    height: 40%;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
  }

}
code {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}
h1 {
  margin: 0em;
}
